@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: 0;
  font-family: 'Open Sans';
  font-size: 18px;
}

nav {
  background-color: #C12127;
  color: rgba(255, 255, 255, 0.8);
  padding: 11px 0px;
  height: 20px;
  vertical-align: middle;
  font-size: 18px;
}

nav a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 18px;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
  vertical-align: middle;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
  font-size: 18px;
}

.top-left {
  float: left;
  padding: 0px 10px;
  display: inline-block;
  padding-bottom: 15px;
}

.heart {
  padding-right: 10px;
}

header {
  background-color: #1D4E69;
  background-image: url("city-scape.svg");
  color: white;
  background-color: rgb(32, 101, 136);
  background-size: cover;
  height: 500px;
}

header-top-left {
  float: left;
}

.clearfix {
  clear: both;
}

.header-container-top {
  position: relative;
  margin-top: 15px;
  margin-left: 10px;
  width: 100%;
  vertical-align: middle;
  display: inline-block;
  height: 60px;
  align-items: center;
}

.logo {
  vertical-align: top;
}

.header-container-top input#search {
  width: 72%;
    height: 50px;
    background: rgb(31, 82, 111);
    border: none;
    font-size: 10pt;
    color: #262626;
    padding-left: 45px;
    margin-left: 15px;
    color: #fff;
    vertical-align: top;
    border: solid 0.25px rgba(255, 255, 255, 0.8);
}

.button {
  font-size: 10pt;
  cursor: pointer;
  position: absolute;
  height: 49px;
  background: rgb(31, 82, 111);
  border: solid 0.25px rgba(255, 255, 255, 0.8);
  color: #fff;
  margin-left: -20px;
}

.signup {
  width: 20%;
  text-align: right;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  vertical-align: middle;
  margin-left: 50px;
  font-size: 18px;
}

.bear {
  vertical-align: top;
    margin-right: 10px;
    float: right;
}

.second-header {
  width: 50%;
  margin: 0 150px;
  padding-top: 25px;
  color: rgba(255, 255, 255, 0.8);
}

.button-orange {
  background-color: rgb(240, 146, 51);
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 30px;
}

button a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.collaboration {
  height: 500px;
  background-color: rgb(39, 53, 71);
  color: white;
}

.colaboration-box {
  width: 90%;
  margin-left: 100px;
}

.col {
  float: left;
  margin-top: 50px;
}

.col-1 {
  width: 35%;
  height: 25%;
}

.boxes h2 {
  font-size: 27px;
}

.col-2 {
  width: 50%;
  float: right;
}

.last-text {
  height: 500px;
/*  width: 80%;*/
margin: auto;
}

.boxes {
  margin-left: 50px;
  text-align: left;
  width: 90%;
}

.text h2 {
  font-size: 24px;
  width: 50%;
}

.button-red {
  background-color: #C12127;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 30px;
  position: relative;
  margin-top: 15px;
}

link-2 {
  text-decoration: none;
}

.list-collaboration {
  line-height: 2;
  text-align: left;
}

.NPM-description {
  background-color: black;
  background-image: url("forklift.svg");
  background-size: cover;
  height: 400px;
  margin-top: -20px
}

.text-NPM-description {
  width: 30%;
  margin: 0 350px;
  padding-top: 50px;
  color: rgba(255, 255, 255, 0.8);
}

.text-NPM-description h2 {
  font-size: 25px;
}

.text-NPM-description p {
  width: 70%
}

.button-grey {
  background-color: rgb(49, 68, 88);
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 30px;
}

button a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.col {
  float: left;
}

.col-3 {
  width: 33%;
  text-align: center;
}

.last-text {
  height: 500px;
  width: 80%;
  padding-top: 50px;
  text-align: center;
}

.last-text-box p {
    text-align: center;
}
